
@{
    ViewBag.Title = "LoginFailed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login Failed</h2>
<p>You entered an incorrect password. Please remmember your password and try again later.</p>

