
@{
    ViewBag.Title = "NotanUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OOPSS !!!</h2>
<p>Hello, there are no records in our system that you are a registered user.<br />
    Please register first to continue with us</p>
